/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/uploads
dpna-mosta-firebase-adminsdk-fbsvc-44e2941c0b.json
chargily-pay-credentials.json
